body ,html {
    background-image: url(assets/cricket.jpg!sw800);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% ;
    height: 100vh;
}

.head{
    color: white;
    text-shadow: 2px 2px 4px rgb(59, 56, 245);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-transform: capitalize !important;

}

.my-div {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: black;
    text-shadow: 4px 4px 8px white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-transform: capitalize !important;
}


.input-div{
color:white;
text-wrap: nowrap;
}


@media screen and (max-width:640px) {
    #image{
        width:200px !important;
        height: 180px !important;
    }
    .my-div {
        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: black;
        text-shadow: 4px 4px 8px white;
        font-size: 20px !important;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: capitalize !important;
    }
    body ,html {
        background-image: url(assets/cricket.jpg!sw800);
        background-repeat: no-repeat;
        background-size: cover;
        height: auto !important;
        width: 100% !important;
    }
    
}